{{ define "main" }}

<!-- contact -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="section-title text-primary">{{ .Title }}</h2>
        {{ .Content }}
        <form
          action="https://formspree.io/f/mbjwazel"
          method="POST"
          enctype="multipart/form-data"
        >

        <input required
          type="text"
          id="company-name"
          name="company-name"
          placeholder="*Company Name"
          class="form-control mb-4 shadow rounded-0"

        />
          <input required
            type="text"
            id="name"
            name="name"
            placeholder="*Name"
            class="form-control mb-4 shadow rounded-0"
          />
          <input required
            type="email"
            id="mail"
            name="mail"
            placeholder="*Email"
            class="form-control mb-4 shadow rounded-0"
          />
          <input required
            type="text"
            id="subject"
            name="subject"
            placeholder="*Subject"
            class="form-control mb-4 shadow rounded-0"
          />
          <textarea required
            name="message"
            id="message"
            placeholder="*How can we help you?"
            class="form-control mb-4 shadow rounded-0"
          ></textarea>
          <label for="myfile">To select multiple files, hold down the Ctrl or Command key while selecting:</label>
          <br>
          <input type="file" id="myfile" name="myfile" accept="image/png, image/jpeg" multiple>
          <br>
          <br>
          <br>
          <button type="submit" value="send" class="btn btn-primary"> send
            {{ i18n "send" }}
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- /contact -->

{{ end }}
